/.git
/.idea

/public/data/addonmd5/*
/public/data/attachment/*
/public/data/attachment/album/*
/public/data/attachment/category/*
/public/data/attachment/common/*
/public/data/attachment/forum/*
/public/data/attachment/group/*
/public/data/attachment/portal/*
/public/data/attachment/profile/*
/public/data/attachment/swfupload/*
/public/data/attachment/temp/*
/public/data/avatar/*
/public/data/backup/*
/public/data/cache/*
/public/data/download/*
/public/data/diy/*
/public/data/sysdata/*
/public/data/ipdata/*
/public/data/*.lock
!/public/data/ipdata/tinyipdata.dat
/public/data/log/*
/public/data/plugindata/*
/public/data/template/*
/public/data/threadcache/*

/public/config/*
/public/changdi/*
/public/uc_client/data/cache/*
/public/uc_server/data/cache/*
/public/uc_server/data/avatar/*
/public/uc_server/data/tmp/*
/public/uc_server/data/logs/*
/public/uc_server/data/view/*
/public/uc_server/data/backup/*
/public/uc_server/data/config.inc.php


*.swp
*~

!index.htm
